@charset "UTF-8";
/*定义字体图标*/
@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont_new.eot?0db6e1e");
  src: url("../fonts/iconfont_new.eot?0db6e1e?#iefix") format("embedded-opentype"), url("../fonts/iconfont_new.woff?0db6e1e") format("woff"), url("../fonts/iconfont_new.ttf") format("truetype"), url("../fonts/iconfont_new.svg#uxiconfont") format("svg");
}
.hd_iconfont {
  font-family: "iconfont" !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: .2px;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'iconfont180315';
  src: url("../fonts/iconfont180315.eot?0db6e1e");
  src: url("../fonts/iconfont180315.eot?0db6e1e?#iefix") format("embedded-opentype"), url("../fonts/iconfont180315.woff?0db6e1e") format("woff"), url("../fonts/iconfont180315.ttf") format("truetype"), url("../fonts/iconfont180315.svg#uxiconfont") format("svg");
}
.iconfont180315 {
  font-family: "iconfont180315" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*规划的样式 后期要删除的*/
.w {
  border: 1px solid black;
  min-height: 200px;
  margin-bottom: 10px;
}

/*定义统一样式*/
body {
  background: #f5f5f5;
}

.wrap {
  width: 1228px;
  margin: 0 auto;
}

.c_red {
  color: #ff4040;
}

.top_hd_search > div::after, .keywords ul::after, .goods_show > ul::after, .floor_r a::after {
  display: block;
  content: '';
  clear: both;
  height: 0;
  overflow: hidden;
}

/*
      头部广告
   ====================================================*/
.hd_adv {
  position: relative;
  background: #FEE202;
}
.hd_adv span {
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
}

/*
          头部搜索框
   ====================================================*/
.top_hd_search {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 60px;
  background: #fff;
  top: -60px;
  box-shadow: 0 1px 1px #F0F0F0;
}
.top_hd_search > div {
  position: absolute;
  left: 50%;
}
.top_hd_search > div > .left {
  width: 744px;
  position: relative;
  left: -50%;
  margin-top: 10px;
}

/*  头部
   ===========================*/
.index_header {
  background: #fff;
}

.header_first {
  box-sizing: border-box;
  padding-top: 5px;
  border-bottom: 1px solid #e5e5e5;
  height: 30px;
  font-size: 12px;
  background-color: #F3F3F3;
}
.header_first a:hover {
  color: #ff4040;
}
.header_first i {
  font-size: 16px;
}

.header_first_r li {
  margin-left: 16px;
  line-height: 20px;
}

.hd_serve:hover .hd_serve_list {
  display: block;
}

.hd_serve_cont {
  z-index: 5;
}

.mod_aap > .two_code {
  position: absolute;
  z-index: 999;
  display: none;
}
.mod_aap:hover > .two_code {
  display: block;
}

.hd_serve_list {
  display: none;
  border: 1px solid #000;
  border-width: 0 1px 1px;
  top: -5px;
  left: -4px;
  background: #fff;
  position: absolute;
  width: 100%;
}
.hd_serve_list li {
  height: 30px;
  padding-left: 3px;
  margin: 0;
}

.hd_logo {
  position: relative;
  display: block;
  width: 205px;
  height: 150px;
}
.hd_logo img {
  position: absolute;
  top: 0;
  left: -28px;
  width: 261px;
  height: 150px;
}

.hd_main_r {
  float: right;
  width: 974px;
  padding: 32px 14px 0 35px;
}

.hd_search {
  max-width: 744px;
}

.hd_search_inp {
  border: 2px solid #ff4040;
  padding-left: 20px;
  outline: 0;
  width: 680px;
  height: 36px;
}

.hd_search_btn {
  border: 0;
  height: 40px;
  background: #ff4040;
  padding: 0 10px;
}
.hd_search_btn i {
  font-size: 20px;
  color: white;
}

.hot_code a {
  float: left;
  margin-left: 20px;
  line-height: 40px;
  color: #CACBCB;
}
.hot_code a:hover {
  color: #ff4040;
}

.hd_mini_cart {
  border: 1px solid black;
  height: 38px;
  line-height: 38px;
  padding: 0 30px;
}

.hd_header_nav li {
  float: left;
  margin: 10px;
  font-size: 16px;
}
.hd_header_nav li a:hover {
  color: #ff4040;
}

/*
   banner 模块
   ==================================================================== */
.index_first_main {
  height: 400px;
  background: #DDA0DD;
}

.main_nav {
  position: relative;
  z-index: 103;
  width: 205px;
  height: 400px;
  background-color: rgba(48, 48, 48, 0.9);
}
.main_nav .main_nav_list:hover h3 {
  background: #fff;
}
.main_nav .main_nav_list:hover h3 i {
  color: #ff4040;
}
.main_nav .main_nav_list:hover h3 a {
  color: #737373;
}
.main_nav h3 {
  line-height: 32px;
}
.main_nav h3 i {
  color: #737373;
  font-size: 20px;
  vertical-align: middle;
  padding: 0 10px;
}
.main_nav h3 a {
  color: #fff;
  font-size: 12px;
  vertical-align: middle;
}

.main_nav_sub {
  display: none;
  position: absolute;
  z-index: 1002;
  left: 100%;
  top: 0;
  width: 1024px;
  min-height: 400px;
  padding-top: 10px;
  background: #fff;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2);
}
.main_nav_sub i {
  font-family: "\5b8b\4f53";
}

.main_nav_list:hover .main_nav_sub {
  display: block;
}

.main_nav_sub_l {
  float: left;
  width: 747px;
  border-right: 1px solid #f2f2f2;
  font-size: 12px;
}
.main_nav_sub_l dt, .main_nav_sub_l dd {
  float: left;
}
.main_nav_sub_l dt {
  padding: 5px 20px;
  font-weight: 900;
}
.main_nav_sub_l dl:last-of-type dd {
  border: 0;
}
.main_nav_sub_l dd {
  padding: 5px 0;
  width: 620px;
  border-bottom: 1px solid #f2f2f2;
}
.main_nav_sub_l dd a {
  float: left;
  margin: 0 9px;
}
.main_nav_sub_l dd a:hover {
  font-weight: 900;
  color: #ff4040;
}

.main_nav_sub_r {
  float: left;
  box-sizing: border-box;
  width: 276px;
  padding: 10px;
}
.main_nav_sub_r > div {
  float: left;
}
.main_nav_sub_r .main_nav_brand li {
  box-sizing: border-box;
  float: left;
  padding: 5px;
  width: 50%;
}
.main_nav_sub_r .main_nav_brand img {
  width: 100%;
}

.main_nav_adv {
  padding: 10px;
}
.main_nav_adv ul {
  padding: 10px;
}
.main_nav_adv li {
  margin-bottom: 10px;
}
.main_nav_adv img {
  width: 100%;
}

.user_vip {
  position: absolute;
  top: 50px;
  left: 1000px;
  width: 205px;
  padding-top: 56px;
  background: url(https://img.yihaodianimg.com/front-homepage/index/images/vip_bg2.png?c15c7f9) #fff no-repeat;
}
.user_vip .vip_imp {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  top: -20px;
  left: 50%;
  margin-left: -32px;
}
.user_vip .vip_imp img {
  width: 64px;
}

.vip_enter {
  text-align: center;
  padding-bottom: 20px;
}
.vip_enter .vip_enter_btn {
  margin-top: 20px;
}
.vip_enter .vip_enter_btn a {
  display: inline-block;
  border: 1px solid #ff4040;
  padding: 0 12px;
  line-height: 24px;
  border-radius: 12px;
  color: #ff4040;
}
.vip_enter .vip_enter_btn a:hover {
  color: #fff;
  background: #ff4040;
}

.vip_fun {
  margin: 0 8px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px dashed #e5e5e5;
}
.vip_fun a {
  float: left;
  width: 62px;
  height: 66px;
  padding: 5px 0;
  text-align: center;
}
.vip_fun a:hover {
  color: #ff4040;
}
.vip_fun a:hover img {
  transform: translateY(-3px);
}
.vip_fun a img {
  margin: 10px 15px 0;
  width: 32px;
  transition: transform .2s;
}

.vip_new {
  margin: 9px 12px;
}
.vip_new a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}
.vip_new a:hover, .vip_new a em {
  color: #ff4040;
}

/*
    banner 轮播图部分
  =========================================*/
.banner {
  position: absolute;
  background: red;
  top: 0;
  left: 205px;
  width: 760px;
  height: 400px;
}
.banner ul {
  position: absolute;
  width: 760px;
  height: 400px;
}
.banner ul a {
  display: block;
  width: 760px;
  height: 400px;
  background-repeat: no-repeat;
}
.banner ul li {
  position: absolute;
}
.banner ol {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 20px;
}
.banner ol li {
  float: left;
  padding: 2px;
}
.banner ol li a {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
}
.banner ol li .active {
  background: #ff4040;
}
.banner button {
  position: absolute;
  top: 50%;
  border: 0;
  margin-top: -50px;
  height: 100px;
  font-size: 50px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
.banner button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.banner .btn_right {
  right: 0;
}

/*
    1号抢购
    ================================================================ */
.mod_seckill {
  margin-top: 10px;
}

.mod_seckill_enter {
  float: left;
  width: 205px;
}
.mod_seckill_enter img {
  width: 100%;
}
.mod_seckill_enter span {
  position: absolute;
  line-height: 24px;
  border-radius: 12px;
  padding: 0 10px;
  left: 60px;
  bottom: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}
.mod_seckill_enter span:hover {
  background: rgba(0, 0, 0, 0.3);
}

.mod_seckill_goods {
  float: left;
  height: 140px;
  width: 1023px;
  overflow: hidden;
}
.mod_seckill_goods ul {
  position: absolute;
  width: 3060px;
}
.mod_seckill_goods li {
  float: left;
  position: relative;
  width: 255px;
  background: #fff;
}
.mod_seckill_goods a {
  display: block;
  padding: 15px 20px;
  height: 110px;
}
.mod_seckill_goods .goods_msg {
  float: left;
  width: 100px;
}
.mod_seckill_goods .goods_title {
  height: 40px;
  margin-bottom: 12px;
  line-height: 20px;
  overflow: hidden;
}
.mod_seckill_goods .goods_price {
  color: red;
  font-weight: 900;
}
.mod_seckill_goods img {
  float: right;
  height: 110px;
  transition: all .2s;
}
.mod_seckill_goods img:hover {
  transform: translateX(-3px);
}
.mod_seckill_goods .goods_sold {
  position: absolute;
  top: 5px;
  right: 5px;
  text-align: center;
  color: #fff;
  width: 40px;
  background: red;
}

.mod_seckill_goods button {
  position: absolute;
  z-index: 999;
  top: 50%;
  margin-top: -20px;
  border: 0;
  height: 40px;
  width: 20px;
  line-height: 40px;
  opacity: .6;
  outline: none;
}
.mod_seckill_goods button.l_btn {
  left: 10px;
}
.mod_seckill_goods button.r_btn {
  right: 10px;
}

/*
    促销模块
   ========================================================== */
.mod_sale {
  margin-top: 20px;
  margin-bottom: 20px;
}

.left_banner, .group_buy, .area_rank {
  position: relative;
  height: 400px;
}

.left_banner {
  float: left;
  margin-right: 12px;
}

.left_banner img {
  height: 100%;
}

.brand_caption {
  position: absolute;
  left: 50%;
  bottom: 34px;
  width: 200px;
  height: 100px;
  margin-left: -100px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}
.brand_caption:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
.brand_caption h4 {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
  line-height: 24px;
}
.brand_caption .cut_line {
  width: 30px;
  height: 10px;
  overflow: hidden;
  margin: 2px auto 0;
  border-top: 1px solid #333;
}
.brand_caption .sub_tit {
  height: 16px;
  overflow: hidden;
  font-size: 14px;
  line-height: 16px;
  color: #333;
}

.group_buy {
  float: left;
  width: 484px;
  background: #fff;
}

.area_rank {
  float: right;
  width: 453px;
}

.center-h {
  position: relative;
  border-top: 1px solid red;
  height: 32px;
}
.center-h a {
  position: absolute;
  left: 50%;
  top: -4px;
  margin-left: -70px;
  text-align: center;
  width: 140px;
  height: 32px;
  line-height: 32px;
  background: #fb6233;
  font-size: 18px;
  color: #FFF;
}

.group_buy_r {
  float: left;
  border-right: 1px solid #DDDDDD;
}
.group_buy_r img {
  width: 250px;
}

.group_buy_l {
  float: left;
}
.group_buy_l .group_buy_l_top a {
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}
.group_buy_l a {
  display: block;
  margin: 0 18px 0 20px;
  width: 194px;
  height: 180px;
}
.group_buy_l p:first-of-type {
  margin-bottom: 10px;
  color: red;
  height: 18px;
  font-size: 18px;
}
.group_buy_l img {
  width: 110px;
  position: relative;
  margin-left: 70px;
}

.area_rank {
  background: #fff;
}
.area_rank .rank_title {
  margin: 0 20px;
  border-bottom: 1px solid #D1D3D6;
}
.area_rank .rank_title li {
  float: left;
  width: 20%;
  text-align: center;
}
.area_rank .rank_title li a {
  display: block;
  line-height: 30px;
  border-bottom: 2px solid transparent;
}
.area_rank .rank_title li a.active {
  border-color: red;
  color: red;
}

.rank_content {
  height: 316px;
  padding: 10px 2px 0 1px;
}
.rank_content.none {
  display: none;
}
.rank_content li {
  float: left;
  margin: 15px 25px;
}
.rank_content li a {
  display: block;
  width: 100px;
}
.rank_content li a:hover {
  color: red;
}
.rank_content li img {
  height: 100px;
}
.rank_content li p {
  margin-top: 10px;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
  font-size: 12px;
  text-align: center;
}

/*
 * 楼层
   ===============================================*/
.floor {
  margin-bottom: 20px;
  background: #fff;
}

.floor_l {
  float: left;
  width: 236px;
  height: 410px;
  padding-top: 20px;
  color: #fff;
  background: linear-gradient(30deg, #f9ab57 0%, #fab775 32%, #f78a4b 100%);
}
.floor_l h4 {
  font-size: 20px;
  text-align: center;
}
.floor_l h4 a {
  display: inline-block;
  padding: 0 10px 10px 15px;
  border-bottom: 1px solid #fff;
}
.floor_l > p {
  text-align: center;
  line-height: 20px;
}

.loop_play {
  position: relative;
  margin-top: 35px;
  text-align: center;
}
.loop_play .loop_play_img ul {
  width: 195px;
  height: 225px;
  margin: 0 auto;
}
.loop_play .loop_play_img li {
  background: #fff;
  width: 195px;
  height: 225px;
  border-radius: 5px;
}
.loop_play .loop_play_img li p:first-of-type {
  color: red;
  font-size: 16px;
  padding: 5px 0;
}
.loop_play .loop_play_img li p:last-of-type {
  color: #000;
}
.loop_play .loop_play_img img {
  width: 130px;
  margin: 5px auto 0;
}
.loop_play .loop_play_btn {
  position: absolute;
  left: 100px;
  margin: 10px 0 0 -30px;
  width: 100px;
}
.loop_play .loop_play_btn_l {
  position: absolute;
  left: 10px;
  cursor: pointer;
}
.loop_play .loop_play_btn_r {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

/*楼层中部
 =======================*/
.floor_m {
  float: left;
  width: 744px;
  height: 430px;
  border-right: 1px solid #E1E1E1;
}

.keywords {
  border-bottom: 1px solid #E1E1E1;
}
.keywords li {
  float: left;
  height: 39px;
  padding: 12px 0;
  box-sizing: border-box;
}
.keywords li:first-of-type a {
  border: 0;
}
.keywords a {
  display: block;
  line-height: 16px;
  padding: 0 14px;
  border-left: 1px solid #E1E1E1;
}

.goods_show .goods_show_lived {
  float: left;
  width: 248px;
  height: 195px;
  box-sizing: border-box;
  border: 1px solid #E1E1E1;
  border-width: 0 1px 1px 0;
}
.goods_show .goods_show_lived:nth-of-type(3n) {
  border-right: 0;
}

.goods_show_lived a {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 100%;
  padding: 20px 0 0;
}
.goods_show_lived h4, .goods_show_lived p {
  margin-left: 20px;
  height: 24px;
  line-height: 24px;
  position: relative;
  z-index: 10;
}
.goods_show_lived p {
  color: #ff4040;
}
.goods_show_lived img {
  width: 130px;
  position: absolute;
  right: 10px;
  bottom: 10px;
  transition: transform .3s;
}
.goods_show_lived img:hover {
  transform: translateX(-5px);
}

/*楼层右部
 =======================*/
.floor_r {
  float: right;
  width: 247px;
}
.floor_r h3 {
  margin-top: 15px;
  height: 20px;
  color: #666;
  font-weight: 900;
  text-align: center;
}
.floor_r .rank_list {
  padding: 0 25px;
}
.floor_r li {
  margin-top: 15px;
}
.floor_r a {
  display: block;
}
.floor_r a:hover {
  color: #ff4040;
}
.floor_r img {
  float: left;
  width: 60px;
}
.floor_r div {
  float: right;
  width: 125px;
  font-size: 12px;
}
.floor_r div > p {
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  margin-bottom: 5px;
}
.floor_r div > span {
  color: #ff4040;
}

/*
  楼梯效果
  ===========================*/
.stairs {
  position: fixed;
  z-index: 9999;
  top: 200px;
  left: 20px;
  display: none;
}
.stairs li {
  margin-bottom: 5px;
}
.stairs li a.active {
  background: #ff4040;
  color: #fff;
}
.stairs li:last-of-type > a {
  background: #33261C;
  color: #fff;
}
.stairs a {
  display: block;
  width: 40px;
  padding: 5px 0;
  text-align: center;
  background: #fff;
}
.stairs a:hover {
  background: greenyellow;
  color: #fff;
}

.index-foot img {
  margin: 0 auto;
}

/*# sourceMappingURL=index.css.map */
